.fl
{
float:left;
}

.fr
{
float:right;
}

#nav
{
width:150px;
height:800px
}

#masterwrapper
{
width:1000px; 
margin:0 auto;
}

table tr td
{
border:none;
border-width:0px;
border-style:none;
}

.formlabel
{
font-weight:bold;
font-size:12px;
}

.page-region
{
margin-top:10px;
}